[workspace]
members = [
  "neqo-client",
  "neqo-common",
  "neqo-crypto",
  "neqo-http3",
  "neqo-server",
  "neqo-qpack",
  "neqo-transport",
  "neqo-interop",
  "test-fixture",
]

[workspace.package]
homepage = "https://github.com/mozilla/neqo/"
repository = "https://github.com/mozilla/neqo/"
version = "0.7.0"
edition = "2018"
rust-version = "1.70.0"
license = "MIT OR Apache-2.0"
