[package]
name = "neqo-udp"
authors.workspace = true
homepage.workspace = true
repository.workspace = true
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
log = { workspace = true }
neqo-common = { path = "./../neqo-common" }
quinn-udp = { version = "0.5.0", default-features = false }
tokio = { version = "1", default-features = false, features = ["net"], optional = true }
