[package]
name = "neqo-common"
authors.workspace = true
homepage.workspace = true
repository.workspace = true
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
description.workspace = true
keywords.workspace = true
categories.workspace = true
readme.workspace = true

[lints]
workspace = true

[dependencies]
# Sync with https://searchfox.org/mozilla-central/source/Cargo.lock 2024-02-08
enum-map = { version = "2.7", default-features = false }
env_logger = { version = "0.10", default-features = false }
hex = { version = "0.4", default-features = false, optional = true }
log = { workspace = true }
qlog = { workspace = true }

[target."cfg(windows)".dependencies]
# Sync with https://searchfox.org/mozilla-central/source/Cargo.lock 2024-02-08
windows = { version = "0.58", default-features = false }

[dev-dependencies]
test-fixture = { path = "../test-fixture" }

[features]
ci = []
build-fuzzing-corpus = ["hex"]

[lib]
# See https://github.com/bheisler/criterion.rs/blob/master/book/src/faq.md#cargo-bench-gives-unrecognized-option-errors-for-valid-command-line-options
bench = false
