[package]
name = "neqo-common"
version = "0.6.5"
authors = ["Bobby Holley <bobbyholley@gmail.com>"]
edition = "2018"
rust-version = "1.65.0"
license = "MIT/Apache-2.0"
build = "build.rs"

[dependencies]
log = {version = "0.4.0", default-features = false}
env_logger = {version = "0.10", default-features = false}
lazy_static = "1.3.0"
qlog = "0.4.0"
time = {version = "0.3", features = ["formatting"]}

[features]
default = ["deny-warnings"]
deny-warnings = []

[target."cfg(windows)".dependencies.winapi]
version = "0.3"
features = ["timeapi"]
