[package]
name = "neqo-common"
build = "build.rs"
authors.workspace = true
homepage.workspace = true
repository.workspace = true
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
# Sync with https://searchfox.org/mozilla-central/source/Cargo.lock 2024-02-08
enum-map = "2.7"
env_logger = { version = "0.10", default-features = false }
log = { version = "0.4", default-features = false }
qlog = "0.12"
quinn-udp = { git = "https://github.com/quinn-rs/quinn/", optional = true }
time = { version = "0.3", features = ["formatting"] }
tokio = { version = "1", features = ["net", "time", "macros", "rt", "rt-multi-thread"], optional = true }

[dev-dependencies]
test-fixture = { path = "../test-fixture" }

[features]
deny-warnings = []
ci = []
udp = ["dep:quinn-udp", "dep:tokio"]

[target."cfg(windows)".dependencies.winapi]
version = "0.3"
features = ["timeapi"]
