[package]
name = "neqo-common"
build = "build.rs"
authors.workspace = true
homepage.workspace = true
repository.workspace = true
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
enum-map = "2.7"
env_logger = { version = "0.10", default-features = false }
log = { version = "0.4", default-features = false }
qlog = "0.12.0"
time = { version = "0.3.23", features = ["formatting"] }

[dev-dependencies]
test-fixture = { path = "../test-fixture" }

[features]
deny-warnings = []
ci = []

[target."cfg(windows)".dependencies.winapi]
version = "0.3"
features = ["timeapi"]
