[package]
name = "neqo-common"
version = "0.6.8"
authors = ["Bobby Holley <bobbyholley@gmail.com>"]
edition = "2018"
rust-version = "1.70.0"
license = "MIT OR Apache-2.0"
build = "build.rs"

[dependencies]
enum-map = "2.7"
env_logger = { version = "0.10", default-features = false }
lazy_static = "1.4"
log = { version = "0.4", default-features = false }
qlog = { git = "https://github.com/cloudflare/quiche", rev = "09ea4b244096a013071cfe2175bbf2945fb7f8d1" }
time = {version = "0.3.23", features = ["formatting"]}

[dev-dependencies]
test-fixture = { path = "../test-fixture" }

[features]
deny-warnings = []
ci = []

[target."cfg(windows)".dependencies.winapi]
version = "0.3"
features = ["timeapi"]
