[package]
name = "neqo-http3"
authors.workspace = true
homepage.workspace = true
repository.workspace = true
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
description.workspace = true
keywords.workspace = true
categories.workspace = true
readme.workspace = true

[lints]
workspace = true

[dependencies]
# Sync with https://searchfox.org/mozilla-central/source/Cargo.lock 2024-02-08
enumset = { version = "1.1", default-features = false }
log = { workspace = true }
neqo-common = { path = "./../neqo-common" }
neqo-crypto = { path = "./../neqo-crypto" }
neqo-qpack = { path = "./../neqo-qpack" }
neqo-transport = { path = "./../neqo-transport" }
qlog = { workspace = true }
sfv = { version = "0.9", default-features = false }
smallvec = { version = "1.11", default-features = false }
url = { version = "2.5", default-features = false }

[dev-dependencies]
test-fixture = { path = "../test-fixture" }

[features]
disable-encryption = ["neqo-transport/disable-encryption", "neqo-crypto/disable-encryption"]

[lib]
# See https://github.com/bheisler/criterion.rs/blob/master/book/src/faq.md#cargo-bench-gives-unrecognized-option-errors-for-valid-command-line-options
bench = false
