[package]
name = "test-fixture"
version = "0.7.0"
authors = ["Martin Thomson <mt@lowentropy.net>"]
edition = "2018"
rust-version = "1.70.0"
license = "MIT OR Apache-2.0"

[dependencies]
lazy_static = "1.4"
log = {version = "0.4.17", default-features = false}
neqo-common = { path = "../neqo-common" }
neqo-crypto = { path = "../neqo-crypto" }
neqo-http3 = { path = "../neqo-http3" }
neqo-qpack = { path = "../neqo-qpack" }
neqo-transport = { path = "../neqo-transport" }
qlog = { git = "https://github.com/cloudflare/quiche", rev = "09ea4b244096a013071cfe2175bbf2945fb7f8d1" }

[features]
deny-warnings = []