[package]
name = "test-fixture"
version = "0.1.13"
authors = ["Martin Thomson <mt@lowentropy.net>"]
edition = "2018"
license = "MIT/Apache-2.0"

[dependencies]
neqo-common = { path = "../neqo-common" }
neqo-crypto = { path = "../neqo-crypto" }
neqo-http3 = { path = "../neqo-http3" }
neqo-transport = { path = "../neqo-transport" }
log = "0.4.0"

[features]
default = ["deny-warnings"]
deny-warnings = []
