[package]
name = "neqo-transport"
version = "0.6.8"
authors = ["EKR <ekr@rtfm.com>", "Andy Grover <agrover@mozilla.com>"]
edition = "2018"
rust-version = "1.70.0"
license = "MIT OR Apache-2.0"

[dependencies]
neqo-crypto = { path = "../neqo-crypto" }
neqo-common = { path = "../neqo-common" }
lazy_static = "1.4.0"
log = {version = "0.4.17", default-features = false}
smallvec = "1.11.1"
qlog = "0.11.0"
indexmap = "1.9"

[dev-dependencies]
test-fixture = { path = "../test-fixture" }

[features]
deny-warnings = []
fuzzing = ["neqo-crypto/fuzzing"]
