[package]
name = "neqo-transport"
authors.workspace = true
homepage.workspace = true
repository.workspace = true
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
indexmap = "1.9.3"
log = { version = "0.4.17", default-features = false }
neqo-common = { path = "../neqo-common" }
neqo-crypto = { path = "../neqo-crypto" }
qlog = "0.12.0"
smallvec = "1.11.1"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
enum-map = "2.7"
test-fixture = { path = "../test-fixture" }

[features]
bench = []
deny-warnings = []
fuzzing = ["neqo-crypto/fuzzing"]

[[bench]]
name = "transfer"
harness = false
required-features = ["bench"]

[[bench]]
name = "rx_stream_orderer"
harness = false
required-features = ["bench"]

[[bench]]
name = "range_tracker"
harness = false
required-features = ["bench"]
