[package]
name = "neqo-transport"
version = "0.7.0"
authors = ["EKR <ekr@rtfm.com>", "Andy Grover <agrover@mozilla.com>"]
edition = "2018"
rust-version = "1.70.0"
license = "MIT OR Apache-2.0"

[dependencies]
indexmap = "1.9.3"
lazy_static = "1.4"
log = { version = "0.4.17", default-features = false }
neqo-common = { path = "../neqo-common" }
neqo-crypto = { path = "../neqo-crypto" }
qlog = { git = "https://github.com/cloudflare/quiche", rev = "09ea4b244096a013071cfe2175bbf2945fb7f8d1" }
smallvec = "1.11.1"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
enum-map = "2.7"
test-fixture = { path = "../test-fixture" }

[features]
bench = []
deny-warnings = []
fuzzing = ["neqo-crypto/fuzzing"]

[[bench]]
name = "transfer"
harness = false
required-features = ["bench"]

[[bench]]
name = "rx_stream_orderer"
harness = false
required-features = ["bench"]
