[package]
name = "neqo-transport"
authors.workspace = true
homepage.workspace = true
repository.workspace = true
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
# Sync with https://searchfox.org/mozilla-central/source/Cargo.lock 2024-02-08
indexmap = { version = "1.9", default-features = false }
log = { workspace = true }
neqo-common = { path = "../neqo-common" }
neqo-crypto = { path = "../neqo-crypto" }
qlog = { workspace = true }
smallvec = { version = "1.11", default-features = false }

[dev-dependencies]
criterion = { version = "0.5", default-features = false, features = ["html_reports"] }
enum-map = { version = "2.7", default-features = false }
test-fixture = { path = "../test-fixture" }

[features]
bench = []
disable-encryption = ["neqo-crypto/disable-encryption"]

[lib]
# See https://github.com/bheisler/criterion.rs/blob/master/book/src/faq.md#cargo-bench-gives-unrecognized-option-errors-for-valid-command-line-options
bench = false

[[bench]]
name = "transfer"
harness = false
required-features = ["bench"]

[[bench]]
name = "rx_stream_orderer"
harness = false
required-features = ["bench"]

[[bench]]
name = "range_tracker"
harness = false
required-features = ["bench"]
