[package]
name = "neqo-qpack"
version = "0.1.0"
authors = ["Dragana Damjanovic <dragana.damjano@gmail.com>"]
edition = "2018"

[dependencies]
neqo-common = { path = "./../neqo-common" }
neqo-transport = { path = "./../neqo-transport" }
neqo-crypto = { path = "./../neqo-crypto" }
log = "0.4.0"
