[package]
name = "neqo-qpack"
version = "0.7.0"
authors = ["Dragana Damjanovic <dragana.damjano@gmail.com>"]
edition = "2018"
rust-version = "1.70.0"
license = "MIT OR Apache-2.0"

[dependencies]
lazy_static = "~1.4.0"
log = {version = "~0.4.17", default-features = false}
neqo-common = { path = "./../neqo-common" }
neqo-crypto = { path = "./../neqo-crypto" }
neqo-transport = { path = "./../neqo-transport" }
qlog = "0.12.0"
static_assertions = "~1.1.0"

[dev-dependencies]
test-fixture = { path = "../test-fixture" }

[features]
deny-warnings = []
