[package]
name = "neqo-qpack"
version = "0.6.8"
authors = ["Dragana Damjanovic <dragana.damjano@gmail.com>"]
edition = "2018"
rust-version = "1.65.0"
license = "MIT OR Apache-2.0"

[dependencies]
neqo-common = { path = "./../neqo-common" }
neqo-transport = { path = "./../neqo-transport" }
neqo-crypto = { path = "./../neqo-crypto" }
log = {version = "0.4.0", default-features = false}
static_assertions = "1.1.0"
qlog = "0.9.0"
lazy_static = "1.3.0"

[dev-dependencies]
test-fixture = { path = "../test-fixture" }

[features]
deny-warnings = []
