[package]
name = "neqo-qpack"
build = "build.rs"
authors.workspace = true
homepage.workspace = true
repository.workspace = true
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
lazy_static = "~1.4.0"
log = { version = "~0.4.17", default-features = false }
neqo-common = { path = "./../neqo-common" }
neqo-crypto = { path = "./../neqo-crypto" }
neqo-transport = { path = "./../neqo-transport" }
qlog = "0.12.0"
static_assertions = "~1.1.0"

[dev-dependencies]
test-fixture = { path = "../test-fixture" }

[features]
deny-warnings = []
