[package]
name = "neqo-crypto"
version = "0.7.0"
authors = ["Martin Thomson <mt@lowentropy.net>"]
edition = "2018"
rust-version = "1.70.0"
build = "build.rs"
license = "MIT OR Apache-2.0"

[dependencies]
log = {version = "~0.4.17", default-features = false}
neqo-common = { path = "../neqo-common" }

[build-dependencies]
bindgen = {version = "0.69.1", default-features = false, features= ["runtime"]}
mozbuild = {version = "0.1", optional = true}
serde = "1.0.195"
serde_derive = "1.0.195"
toml = "0.5.11"

[dev-dependencies]
test-fixture = { path = "../test-fixture" }

[features]
deny-warnings = []
gecko = ["mozbuild"]
fuzzing = []
