name: Bench
on:
  workflow_run:
    workflows: ["CI"]
    types: [completed]
  push:
    branches: ["main"]
    paths-ignore: ["*.md", "*.png", "*.svg", "LICENSE-*"]
  pull_request:
    branches: ["main"]
    paths-ignore: ["*.md", "*.png", "*.svg", "LICENSE-*"]
env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  on-success:
    name: Benchmark
    runs-on: self-hosted

    steps:
      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          # components: rustfmt, clippy, llvm-tools-preview

      - name: Use sccache
        uses: mozilla-actions/sccache-action@v0.0.4

      - name: Enable sscache
        run: |
          echo "SCCACHE_GHA_ENABLED=true" >> "$GITHUB_ENV"
          echo "RUSTC_WRAPPER=sccache" >> "$GITHUB_ENV"

      - name: Install dependencies (Linux)
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt-get install -y --no-install-recommends gyp mercurial ninja-build lld
          echo "RUSTFLAGS=-C link-arg=-fuse-ld=lld" >> "$GITHUB_ENV"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          cargo bench --features ci,bench

