name: CI MTU
on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  generate-bindings:
    name: Generate ${{ matrix.os }} bindings
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            runner: ubuntu-24.04
            header: linux.h
            args: --allowlist-type 'rtattr|rtmsg|ifinfomsg|nlmsghdr'
          - os: macos
            runner: macos-15
            header: bsd.h
            args: --allowlist-type 'rt_msghdr|rt_metrics|if_data' --allowlist-item 'RTAX_MAX|RTM_GET|RTM_VERSION|RTA_DST|RTA_IFP'
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install bindgen-cli
        run: cargo install bindgen-cli --locked
      - name: Generate bindings
        env:
          OS: ${{ matrix.os }}
          ARGS: ${{ matrix.args }}
          HEADER: ${{ matrix.header }}
        run: |
          # shellcheck disable=SC2086
          bindgen $ARGS --generate-cstr --explicit-padding --with-derive-default "mtu/src/bindings/$HEADER" > "$OS.rs"
      - name: Upload bindings
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: bindings-${{ matrix.os }}
          path: ${{ matrix.os }}.rs

  check-android:
    name: Check Android
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        target: ['x86_64-linux-android', 'i686-linux-android'] # 'aarch64-linux-android' not currently working
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./.github/actions/check-android
        with:
          target: ${{ matrix.target }}
          working-directory: mtu
          github-token: ${{ secrets.GITHUB_TOKEN }}

  check-vm:
    name: Run checks for VM-only platforms
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        os: [ freebsd, openbsd, netbsd, solaris ]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./.github/actions/check-vm
        with:
          working-directory: mtu
          platform: ${{ matrix.os }}
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
          generate-bindings: true

