name: CodSpeed
on:
  push:
    branches: ["main"] # To generate a performance baseline.
  pull_request:
    branches: ["main"]
  merge_group:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  bench-matrix:
    name: Determine bench matrix
    runs-on: ubuntu-24.04
    outputs:
      benches: ${{ steps.benches.outputs.benches }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - id: benches
        run: |
          # Create a GitHub matrix where each entry is a bench with its
          # associated crate, benchmarking mode, and runner taken from the
          # Cargo metadata. Walltime benchmarks run on Codspeed runners,
          # simulation benchmarks run on GitHub runners.
          {
            echo -n "benches="
            cargo metadata --no-deps --format-version 1 | jq -c '
              [.packages[] |
                . as $pkg |
                .targets[] |
                select(.kind[] == "bench") |
                select(has("required-features")) |
                ($pkg.metadata.bench[.name].codspeed.mode // "simulation") as $mode |
                {
                  crate: $pkg.name,
                  bench: .name,
                  mode: $mode,
                  runner: (if $mode == "walltime" then {group: "codspeed", labels: "codspeed-macro"} else "ubuntu-24.04" end)
                }
              ]'
          } >> "${GITHUB_OUTPUT}"

  benchmarks:
    name: Run bench
    runs-on: ${{ matrix.bench.runner }}
    strategy:
      matrix:
        bench: ${{ fromJson(needs.bench-matrix.outputs.benches) }}
    needs: bench-matrix

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: ./.github/actions/rust
        with:
          version: stable
          tools: cargo-codspeed
          token: ${{ secrets.GITHUB_TOKEN }}

      - id: nss-version
        run: echo "minimum=$(cat neqo-crypto/min_version.txt)" >> "$GITHUB_OUTPUT"

      - uses: ./.github/actions/nss
        with:
          minimum-version: ${{ steps.nss-version.outputs.minimum }}

      - name: Build bench
        env:
          BENCH: ${{ matrix.bench.bench }}
          CRATE: ${{ matrix.bench.crate }}
          MODE: ${{ matrix.bench.mode }}
        run: |
          # FIXME: Codspeed is switching from "instrumentation" to "simulation", but the command line flag has not yet been updated.
          cargo codspeed build --package "$CRATE" --locked --features bench --bench "$BENCH" --measurement-mode "${MODE/simulation/instrumentation}"

      - name: Run bench & upload results
        uses: CodSpeedHQ/action@346a2d8a8d9d38909abd0bc3d23f773110f076ad # v4.4.1
        with:
          mode: ${{ matrix.bench.mode }}
          run: cargo codspeed run
          token: ${{ secrets.CODSPEED_TOKEN }}
