name: Firefox
on:
  workflow_dispatch:
  # Don't run this as part of CI anymore; takes too many resources and fails too often.
  # pull_request:
  #   branches: ["main"]
  #   types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  FIREFOX: Firefox

jobs:
  firefox:
    name: Build Firefox
    # if: ${{ github.event.pull_request.draft == false }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-15, windows-2025, windows-11-arm]
        type: [debug, release]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    env:
      MOZBUILD_STATE_PATH: ${{ github.workspace }}/mozbuild
      CARGO_HOME: ${{ github.workspace }}/cargo

    steps:
      - name: Check out Neqo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Maximize build space
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo rm -rf /usr/local/lib/android || true
          sudo rm -rf /usr/share/dotnet || true
          sudo rm -rf /opt/ghc || true
          sudo rm -rf /usr/local/.ghcup || true
          sudo apt-get remove -y '^aspnetcore-.*' '^dotnet-.*' '^llvm-.*' 'php.*' '^mongodb-.*' '^mysql-.*' \
            azure-cli google-chrome-stable firefox powershell mono-devel libgl1-mesa-dri google-cloud-sdk \
            google-cloud-cli --fix-missing --quiet || true
          sudo apt-get autoremove -y || true
          sudo apt-get clean || true
          sudo docker image prune --all --force || true
          sudo rm -rf "$AGENT_TOOLSDIRECTORY" || true
          df -h

      - name: Check out Firefox
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mozilla/gecko-dev
          path: mozilla-unified
          persist-credentials: false

      - name: Install deps (Windows)
        if: ${{ runner.os == 'Windows' }}
        run: choco install -y mozillabuild --version 4.0.2

      - name: Install Rust
        uses: ./.github/actions/rust
        with:
          version: stable
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Bootstrap Firefox
        env:
          RUNNER_OS: ${{ runner.os }}
          MATRIX_TYPE: ${{ matrix.type }}
        run: |
          cd mozilla-unified
          {
            echo "mk_add_options MOZ_OBJDIR=../$FIREFOX"
            echo "ac_add_options --with-ccache=sccache"
            echo "ac_add_options --enable-application=browser"
            # Work around https://bugzilla.mozilla.org/show_bug.cgi?id=1894031
            if [ "$RUNNER_OS" != "Windows" ] || [ "$MATRIX_TYPE" != "debug" ]; then
              echo "ac_add_options --disable-tests"
            fi
            echo "ac_add_options --enable-$MATRIX_TYPE"
          } >> mozconfig
          ./mach bootstrap --application-choice browser

      - name: Plumb in Neqo
        run: |
          # Get qlog and mtu version used by neqo
          cargo generate-lockfile
          QLOG_VERSION=$(cargo pkgid qlog | cut -d@ -f2)
          MTU_VERSION=$(cargo pkgid mtu | cut -d@ -f2)
          rm Cargo.lock
          cd mozilla-unified
          {
            echo '[[audits.qlog]]'
            echo 'who = "CI"'
            echo 'criteria = "safe-to-deploy"'
            echo "version = \"$QLOG_VERSION\""
            echo '[[audits.mtu]]'
            echo 'who = "CI"'
            echo 'criteria = "safe-to-deploy"'
            echo "version = \"$MTU_VERSION\""
          } >> supply-chain/audits.toml
          sed -i'' -e "s/qlog =.*/qlog = \"$QLOG_VERSION\"/" netwerk/socket/neqo_glue/Cargo.toml
          {
            echo '[patch."https://github.com/mozilla/neqo"]'
            echo 'neqo-http3 = { path = "../neqo-http3" }'
            echo 'neqo-transport = { path = "../neqo-transport" }'
            echo 'neqo-common = { path = "../neqo-common" }'
            echo 'neqo-qpack = { path = "../neqo-qpack" }'
            echo 'neqo-crypto = { path = "../neqo-crypto" }'
          } >> Cargo.toml
          {
            echo '[[trusted.windows-bindgen]]'
            echo 'criteria = "safe-to-deploy"'
            echo 'user-id = 64539 # Kenny Kerr (kennykerr)'
            echo 'start = "2021-11-15"'
            echo 'end = "2024-09-12"'
            echo '[[trusted.windows-metadata]]'
            echo 'criteria = "safe-to-deploy"'
            echo 'user-id = 64539 # Kenny Kerr (kennykerr)'
            echo 'start = "2021-11-15"'
            echo 'end = "2024-09-12"'
          } >> supply-chain/audits.toml
          cargo update neqo-http3 neqo-transport neqo-common neqo-qpack neqo-crypto
          ./mach vendor rust --ignore-modified

      - name: Build Firefox
        env:
          NAME: ${{ runner.os == 'macOS' && 'Nightly' || 'bin' }}
          TYPE: ${{ runner.os == 'macOS' && matrix.type == 'debug' && 'Debug' || '' }}
          EXT: ${{ runner.os == 'macOS' && '.app' || '' }}
          RUNNER_OS: ${{ runner.os }}
        run: |
          cd mozilla-unified
          # Work around "ERROR: WINDOWSSDKDIR cannot be set when using the bootstrapped WINSYSROOT"
          # (Capitalization "WindowsSdkDir" matters)
          [ "$RUNNER_OS" == "Windows" ] && unset WindowsSdkDir
          ./mach build && tar -cf "../$FIREFOX.tar" -C "../$FIREFOX/dist" "$NAME$TYPE$EXT"

      - name: Export binary
        id: upload
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ runner.os }}-${{ env.FIREFOX }}-${{ matrix.type }}.tgz
          path: ${{ env.FIREFOX }}.tar
          compression-level: 9

      - env:
          ARTIFACT_URL: ${{ steps.upload.outputs.artifact-url }}
        run: echo "$ARTIFACT_URL" >> artifact

      - name: Export artifact URL
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: artifact-${{ runner.os }}-${{ env.FIREFOX }}-${{ matrix.type }}
          path: artifact
          retention-days: 1

  comment:
    name: Comment on PR
    # if: ${{ github.event.pull_request.draft == false }}
    needs: firefox
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: 'artifact-*'
          path: artifacts

      - run: |
          {
            echo "### Firefox builds for this PR"
            echo "The following builds are available for testing. Crossed-out builds did not succeed."
            for os in Linux macOS Windows; do
              echo -n "* **$os**:"
              for type in debug release; do
                artifact="artifacts/artifact-$os-$FIREFOX-$type/artifact"
                if [ -e "$artifact" ]; then
                  echo -n " [${type^}]($(cat "$artifact"))"
                else
                  echo -n " ~~${type^}~~"
                fi
              done
              echo
            done
          } > comment.md
          cat comment.md > "$GITHUB_STEP_SUMMARY"

      - uses: ./.github/actions/pr-comment-data-export
        with:
          name: ${{ github.workflow }}
          contents: comment.md
