name: Check for new fuzzing samples
on:
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  fuzz-corpus:
    name: Check for new fuzzing samples
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write # Needed to create PRs.
      contents: write # Needed to push branches.

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: true # zizmor: ignore[artipacked] Need to push branches.

      - uses: ./.github/actions/rust
        with:
          version: nightly
          tools: cargo-fuzz
          token: ${{ secrets.GITHUB_TOKEN }}

      - id: nss-version
        run: echo "minimum=$(cat neqo-crypto/min_version.txt)" >> "$GITHUB_OUTPUT"

      - uses: ./.github/actions/nss
        with:
          minimum-version: ${{ steps.nss-version.outputs.minimum }}

      - env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
          HEAD_REF: ${{ github.ref }}
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./test/make-fuzz-corpus.sh
          # If there are no new corpus samples, exit.
          if [ -z "$(git status --porcelain fuzz/corpus)" ]; then
            echo "No new fuzzing corpus samples generated."
            exit 0
          fi

          # Otherwise, create a PR to this PR to add them.
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global url."https://$TOKEN:x-oauth-basic@github.com/".insteadOf "https://github.com/"
          BRANCH="chore-corpus-samples-$PR_NUMBER"
          MESSAGE="chore: Add new fuzzing corpus samples to #$PR_NUMBER

          Running the test suite for #$PR_NUMBER generated new fuzzing samples.
          This PR adds them to the fuzzing corpus."
          git checkout -b "$BRANCH"
          git add fuzz/corpus
          git commit -m "$MESSAGE"
          git push --set-upstream origin "$BRANCH"
          gh pr create --draft --fill-verbose --base "$HEAD_REF" --head "$BRANCH"
