name: Machete
on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  machete:
    name: Check for unused dependencies
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install Rust
        uses: ./.github/actions/rust
        with:
          tools: cargo-hack, cargo-machete
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check for unused dependencies
        run: |
          #  --with-metadata has false positives, see https://github.com/bnjbvr/cargo-machete/issues/127
          cargo machete --with-metadata
          cargo hack --workspace --no-manifest-path machete --with-metadata
