name: Performance comparison
on:
  workflow_call:
  pull_request:
    branches: ["main"]
  merge_group:
  workflow_dispatch:
    inputs:
      bencher:
        type: choice
        description: Which benchmarking testbed to run on.
        required: true
        default: codspeed
        options:
          - codspeed
          - on-prem
          - gcp
env:
  CARGO_PROFILE_BENCH_BUILD_OVERRIDE_DEBUG: true
  CARGO_PROFILE_RELEASE_DEBUG: true
  RUSTUP_TOOLCHAIN: stable
  SCCACHE_CACHE_SIZE: 128G
  SCCACHE_DIRECT: true
  MTU: 1504 # https://github.com/microsoft/msquic/issues/4618
  CFLAGS: -fno-omit-frame-pointer
  CXXFLAGS: -fno-omit-frame-pointer

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  perfcompare:
    name: Performance comparison
    runs-on: ${{ (inputs.bencher || 'codspeed') == 'gcp' && format('cirun-gcp-bencher--{0}', github.run_id) || (inputs.bencher || 'codspeed') == 'codspeed' && 'codspeed-macro' || 'self-hosted' }}
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout mozilla/neqo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mozilla/neqo
          path: neqo
          submodules: 'recursive'
          persist-credentials: false
          clean: false
      - run: |
          cd neqo
          git fetch --no-tags --depth=1 origin main

      - name: Checkout microsoft/msquic
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: microsoft/msquic
          ref: v2.5.3
          path: msquic
          submodules: 'recursive'
          persist-credentials: false
          clean: false

      - name: Checkout google/quiche
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: google/quiche
          ref: 1c35d630893fc2adacfffeb91bcb0561240cf5f1 # Google doesn't tag release, just update the hash occasionally
          path: google-quiche
          submodules: 'recursive'
          persist-credentials: false
          clean: false

      - name: Checkout cloudflare/quiche
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: cloudflare/quiche
          ref: 0.24.5
          path: quiche
          submodules: 'recursive'
          persist-credentials: false
          clean: false

      - name: Checkout aws/s2n-quic
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: aws/s2n-quic
          ref: v1.63.0
          path: s2n-quic
          submodules: 'recursive'
          persist-credentials: false
          clean: false

      - name: Set PATH and environment
        run: |
          echo "$HOME/.cargo/bin" >> "${GITHUB_PATH}"

      - name: Install Rust
        uses: ./neqo/.github/actions/rust
        with:
          version: ${{ env.RUSTUP_TOOLCHAIN }}
          tools: hyperfine, flamegraph, samply
          token: ${{ secrets.GITHUB_TOKEN }}
          workspaces: |
            neqo
            quiche
            s2n-quic

      - name: Get minimum NSS version
        id: nss-version
        run: |
          cd neqo
          cat neqo-crypto/min_version.txt > versions.txt
          git show origin/main:neqo-crypto/min_version.txt >> versions.txt
          # Use the maximum version from both branches.
          echo "minimum=$(sort -u versions.txt | tail -n1)" >> "$GITHUB_OUTPUT"

      - name: Install NSS
        id: nss
        uses: ./neqo/.github/actions/nss
        with:
          minimum-version: ${{ steps.nss-version.outputs.minimum }}

      - name: Build neqo
        run: |
          # See https://github.com/flamegraph-rs/flamegraph for why we append to RUSTFLAGS here.
          export RUSTFLAGS="-C linker=clang -C link-arg=-fuse-ld=lld -C link-arg=-Wl,--no-rosegment -C force-frame-pointers=yes $RUSTFLAGS"
          echo "RUSTFLAGS=$RUSTFLAGS" >> "$GITHUB_ENV"
          mkdir -p binaries/neqo-main
          mkdir -p binaries/neqo
          cd neqo
          git checkout origin/main
          cargo build --locked --release --features bench --bin neqo-client --bin neqo-server
          cp target/release/neqo-client ../binaries/neqo-main/
          cp target/release/neqo-server ../binaries/neqo-main/
          git checkout -
          cargo build --locked --release --features bench --bin neqo-client --bin neqo-server
          cp target/release/neqo-client ../binaries/neqo/
          cp target/release/neqo-server ../binaries/neqo/

      - name: Build msquic
        run: |
          mkdir -p msquic/build
          cd msquic/build
          rm -f CMakeCache.txt # This seems to be needed now to avoid a spurious warning about "QUIC_TLS"...
          cmake -GNinja -DCMAKE_BUILD_TYPE=RelWithDebInfo -DQUIC_BUILD_TOOLS=1 -DQUIC_BUILD_PERF=1 ..
          cmake --build .

      - name: Build google/quiche
        run: |
          cd google-quiche
          bazel-7.0.0 build -c opt --copt=-fno-omit-frame-pointer --copt=-g --strip=never --sandbox_writable_path="$HOME/.cache/sccache" quiche:quic_server quiche:quic_client
          bazel-7.0.0 shutdown

      - name: Build cloudflare/quiche
        run: |
          # We already changed RUSTFLAGS above; this depends on that having happened.
          cd quiche
          cargo build --release --bin quiche-client --bin quiche-server # --locked not working

      - name: Build aws/s2n-quic
        run: |
          # We already changed RUSTFLAGS above; this depends on that having happened.
          cd s2n-quic
          cargo build --release --bin s2n-quic-qns # --locked not working

      # Disable turboboost, hyperthreading and use performance governor.
      # Also creates "cpu23", "cpu2" and "cpu3" CPU sets for use with cset.
      # On the bencher, logical cores 2 and 3 have been isolated for use by the benchmarks.
      - name: Prepare machine
        run: |
          sudo /root/bin/prep.sh
          # See https://github.com/microsoft/msquic/issues/4618#issuecomment-2422611592
          sudo ip link set dev lo mtu "$MTU"

      # Compare various configurations of neqo against msquic and google/quiche, and gather perf data
      # during the hyperfine runs.
      - name: Compare QUIC implementations
        env:
          WORKSPACE: ${{ github.workspace }}
          NSS_DB_PATH: ${{ github.workspace }}/neqo/test-fixture/db
        run: |
          python3 neqo/.github/scripts/perfcompare.py \
            --host 127.0.0.1 \
            --port 4433 \
            --size 33554432 \
            --runs 100 \
            --workspace "$WORKSPACE" \
            --perf-opt "record -F2999 --call-graph fp -g"

      # Re-enable turboboost, hyperthreading and use powersave governor. Remove all CPU sets.
      - name: Restore machine
        if: success() || failure() || cancelled()
        run: |
          sudo /root/bin/unprep.sh
          # In case the previous test failed:
          sudo ip link set dev lo mtu 65536

      - name: Post-process perf data
        run: |
          for f in *.perf; do
            # Convert for profiler.firefox.com
            samply import "$f" -o "$f.samply.json.gz" --save-only --presymbolicate
            # Generate flamegraphs
            flamegraph --perfdata "$f" --palette rust -o "${f//.perf/.svg}"
          done

      - name: Format results as Markdown
        id: results
        env:
          EVENT_PATH: ${{ github.event_path }}
          TESTBED: ${{ (inputs.bencher || 'codspeed') == 'gcp' && 'GCP' || (inputs.bencher || 'codspeed') == 'codspeed' && 'CodSpeed' || 'On-prem' }}
        run: |
          SHA=$(cd neqo && git log origin/main -1 --format=%H)
          echo "$SHA" > main-sha.txt
          {
            echo "### Client/server transfer results"
            echo
            echo "Performance differences relative to $SHA."
            echo
            # Extract rows with significant changes (red or green heart).
            if grep -q ':broken_heart:\|:green_heart:' comparison.md; then
              # Print all lines up to and including the first separator line (header)
              awk 'BEGIN{found=0} /^[|][ -|:]+[|]$/ {found=1} {print} found{exit}' comparison.md
              grep ':broken_heart:\|:green_heart:' comparison.md
              echo
            else
              echo "No significant performance differences."
              echo
            fi
            echo "Table above only shows statistically significant changes. See all results below."
            echo "<details><summary>All results</summary>"
            echo
            cat comparison.md
            echo
            echo "</details>"
          } >> results.md
          cat results.md > "$GITHUB_STEP_SUMMARY"
          echo "$TESTBED" > testbed.txt
          cp "$EVENT_PATH" event.json

      - name: Export profiler.firefox.com data
        id: export_samply
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ github.event.repository.name }}-${{ github.event.pull_request.head.sha }}-perfcompare-samply
          path: |
            *.samply.json.gz
            binaries
          compression-level: 9

      - name: Export performance data
        id: export_perf
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ github.event.repository.name }}-${{ github.event.pull_request.head.sha }}-perfcompare-perf
          path: |
            *.svg
            *.txt
            *.md
            event.json
            results.*
            results-main.*
            hyperfine
            hyperfine-main
          compression-level: 9

      - name: Export PR comment data
        uses: ./neqo/.github/actions/pr-comment-data-export
        with:
          name: ${{ github.workflow }}
          contents: results.md
          log-md: ${{ format('[Download data for `profiler.firefox.com`]({0}) or [download performance comparison data]({1}).', steps.export_samply.outputs.artifact-url, steps.export_perf.outputs.artifact-url) }}

      - name: Fail on regression
        # Don't check for regressions when running on main.
        if: github.ref != 'refs/heads/main' && github.event.merge_group.base_ref != 'refs/heads/main'
        run: |
          if grep -q "Performance has regressed." results.txt; then
            echo "Performance regression detected."
            exit 1
          else
            echo "No performance regression detected."
          fi

      - name: Remove benchmark artifacts
        if: always()
        run: |
          rm -- * || true
          rm -r -- binaries comment-data hyperfine hyperfine-main || true
