# Post test results as pull request comment.
#
# This is done as a separate workflow as it requires write permissions. The
# tests itself might run off of a fork, i.e., an untrusted environment and should
# thus not be granted write permissions.

name: PR Comment

on:
  workflow_run:
    workflows: ["QNS", "CI", "Firefox"]
    types:
      - completed

permissions: read-all

jobs:
  comment:
    permissions:
      pull-requests: write
    runs-on: ubuntu-24.04
    if: |
      github.event.workflow_run.event == 'pull_request' &&
      (github.event.workflow_run.name != 'CI' || github.event.workflow_run.conclusion == 'success' )
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
      - uses: ./.github/actions/pr-comment
        with:
          name: ${{ github.event.workflow_run.name }}
          token: ${{ secrets.GITHUB_TOKEN }}
