name: Check README.md
on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  readme:
    name: Check README.md
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/rust
        with:
          tools: cargo-readme
          token: ${{ secrets.GITHUB_TOKEN }}

      - run: |
          cd mtu # Only works for this crate currently.
          # TODO: cargo-readme doesn't support workspaces: https://github.com/webern/cargo-readme/issues/81
          # Leaving this here so we remember to fix it later.
          # cargo readme -o /tmp/README.md
          # diff -u README.md /tmp/README.md
