name: Format
on:
  pull_request:
    branches: ["main"]
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  format:
    name: Format
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: ./.github/actions/rust
        with:
          version: nightly
          components: rustfmt
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: cargo fmt --all -- --check
